.form {
	margin: 20px;
	font-family: "Inter", sans-serif;
	.error {
		font-size: 20px;
		display: block;
		margin: 10px;
	}
	:global {
		.ant-row {
			line-height: 1;
			display: block;
			.ant-col {
				display: block;
				text-align: left;
				margin: 0;
				.ant-form-item-required::before {
					display: none;
					opacity: 1;
					margin-inline-end: 4px;
					color: #ff4d4f;
					font-size: 14px;
					font-family: SimSun, sans-serif;
					line-height: 1;
					content: "";
				}
				.ant-form-item-control-input-content {
					display: flex;
					text-align: center;
					.ant-btn {
						display: block;
						background-color: #e52e6b;
						color: white;
						margin-right: 20px;
					}
					.ant-btn:hover {
						color: white;
						background-color: #e52e6ba0;
						outline: none;
						border: none;
					}
				}
			}
		}
	}
}
